html, body {
  background-color: #734f9a;
}
.headercss {
  background-color: #8bd450;
  width: 100vw;
}

.centered-text .nav-link {
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.mainpagebody {
  background-color: #734f9a;
  padding: 20px;
  margin: 0;
}

.card {
  margin: 10px;
  background-color: #3f6d4e;
}

.card .card-text {
  max-height: 150px;
  overflow: scroll;
}

.treeheader {
  text-align: center;
}

.chooseyourpath {
  display: flex;
  justify-content: space-evenly;
}

.genreselection,
.playlistcheck, .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
