.headercss {
  background-color: #8bd450;
  width: 100%;
}

.centered-text {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mainpagebody {
  background-color: #734f9a;
  padding: 20px;
  margin: 0;
}

.treeheader{
  text-align: center;
}

.chooseyourpath {
  display: flex;
  justify-content: space-evenly;
}

.genreselection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}